.country-detail {
  text-align: center;
  padding: 1.25rem;
}

.country-content-wrapper {
  color: white;
  background-color: #3a3a3a;
  width: 31.25rem;
  margin: auto;
}

.flag-coat {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1.25rem;
}

.flag,
.coat-of-arms {
  margin: 0 0.85rem;
}

.flag img,
.coat-of-arms img {
  max-width: 100%;
  height: 5rem;
  width: 6.25rem;
}

h1 {
  margin-bottom: 1.25rem;
}

h3 {
  margin-bottom: 0.625rem;
}

p {
  margin: 0.3125rem 0;
}

.google-maps-link,
.back-to-list,
.cooperation-add-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  padding: 0.625rem;
  margin-top: 0.625rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 0.3125rem;
  width: 9.375rem;
  margin-right: 0.625rem;
  text-align: center;
  font-size: 1rem;
}

.google-maps-link:hover,
.back-to-list:hover {
  background-color: #0056b3;
  text-decoration: none;
}

button.cooperation-add-button {
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 0.625rem 0.9375rem;
  width: 9.375rem;
  text-align: center;
  border-radius: 0.3125rem;
  margin-right: 0.625rem;
}

button.cooperation-add-button:hover {
  background-color: #0056b3;
}

.loading-text {
  /* color: white;
  text-align: center;
  font: 2rem; */
  display: none;
}

/* Untuk layar ukuran sedang */
@media (max-width: 768px) {
  .country-card {
    width: 9.375rem;
  }
  .country-card img {
    width: 100%;
    border-radius: 0.3125rem;
    height: 4.5rem;
  }
}

/* Untuk layar kecil, seperti ponsel */
@media (max-width: 480px) {
  .country-card {
    width: 8.375rem;
  }
  .country-card img {
    width: 100%;
    border-radius: 0.3125rem;
    height: 4.5rem;
  }
}
