.country-detail {
  text-align: center;
  padding: 1.25rem;
}

.country-content-wrapper {
  color: white;
  background-color: #3a3a3a;
  width: 100%;
  max-width: 37.5rem;
  margin: auto;
  padding: 1rem;
}

.flag-coat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1.25rem;
}

.flag,
.coat-of-arms {
  margin: 0.85rem;
  flex-basis: 45%;
}

.flag img,
.coat-of-arms img {
  max-width: 100%;
  height: 5rem;
  width: 6.25rem;
}

h1 {
  margin-bottom: 1.25rem;
}

h3 {
  margin-bottom: 0.625rem;
}

p {
  margin: 0.3125rem 0;
}

.google-maps-link,
.back-to-list,
.cooperation-add-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  padding: 0.625rem;
  margin-top: 0.625rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 0.3125rem;
  width: 9.375rem;
  margin-right: 0.625rem;
  text-align: center;
  font-size: 1rem;
}

.google-maps-link:hover,
.back-to-list:hover {
  background-color: #0056b3;
  text-decoration: none;
}

button.cooperation-add-button {
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 0.625rem 0.9375rem;
  /* width: 9.375rem; */
  text-align: center;
  border-radius: 0.3125rem;
  margin-right: 0.625rem;
}

button.cooperation-add-button:hover {
  background-color: #0056b3;
}

.loading-text {
  /* color: white;
  text-align: center;
  font: 2rem; */
  display: none;
}

/* Layar sedang */
@media (max-width: 768px) {
  .country-content-wrapper {
    padding: 0.75rem;
  }
  .flag,
  .coat-of-arms {
    flex-basis: 100%;
  }
  .google-maps-link,
  .back-to-list,
  .cooperation-add-button {
    width: 100%;
    margin: 0.5rem 0;
  }
}

/* Layar Kecil */
@media (max-width: 480px) {
  .country-card {
    width: 100%;
  }
  .country-card img {
    width: 100%;
    height: auto;
  }
  button.cooperation-add-button {
    max-width: 100%;
  }
}
